<% if @book.left? %>
	この本を借りるには
    <%= link_to "ログイン", "/auth/twitter" %>
    して下さい。
<% else %>
  <p><span class="label label-important">貸し出し中</span> <%= link_to "返却しますか？", "/auth/twitter" %></p>
<% end %>